html {
    scroll-behavior: smooth;
}

.app {
    font-family: 'Montserrat', sans-serif;
    background: rgba(21, 21, 21, .85);
    color: white;
}

.project-container {
    background: rgba(35, 36, 38, 1);
}

.headers {
    font-family: 'Rye', cursive;
    /*font-family: 'Oswald', sans-serif;*/
    font-size: 2.5rem;
    margin-bottom: 50px;
    line-height: 1.5;
    text-shadow: 2px 1px black;
}

.headers span {
    text-shadow: 1px 1px black;
}

.bg-app {
    background: rgba(21, 21, 21, .85);
    color: white;
}

.bg-gray {
    background: #2c2c2c;
    height: 300px;
}

.bg-dark-gray {
    background: #323232;
    height: 300px;
}

:active, :hover, :focus {
    outline: 0!important;
    outline-offset: 0;
}

.buttons {
    padding: 20px 60px;
    border: 3px solid #e6a87a;
    background: rgba(255, 255, 255, 0);
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    transition: 500ms;
}

.custom-button {
    position: relative;
    display: inline-block;
    width: auto; height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0px 25px 15px;
    min-width: 150px;
}

.custom-button span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0; left: 0;
    width: 100%;
    padding: 15px 20px;
    transition: 0.3s;
}

.custom-button::before,
.custom-button::after {
    width: 10%; height: 25%;
    transition: 0.35s;
    position: absolute;
    content: "";
}
.custom-button::before {
    top: 0; left: 0;
    border-left: 1px solid white;
    border-top: 1px solid white;
    position: absolute;
    content: "";
}
.custom-button::after {
    bottom: 0; right: 0;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    position: absolute;
    content: "";
}
.custom-button:hover::before,
.custom-button:hover::after {
    width: 99%;
    height: 98%;
    position: absolute;
    content: "";
}

.buttons-sm {
    padding: 5px;
    border: 1px solid #e6a87a;
    background: rgba(255, 255, 255, 0);
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    transition: 500ms;
    min-width: 35%;
    cursor: pointer;
}

/*.buttons:hover {*/
/*    border: 3px solid white;*/
/*    color: white;*/
/*    transition: 500ms;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*}*/

.app-color, .text-span-color, .icons-color {
    color: #e6a87a;
}

.spacer {
    padding-top: 80px;
}

/*************************/

.logo {
    text-shadow: 3px 3px #000;
    font-family: 'Rye', cursive;
}

.banner {
    background: linear-gradient(
            rgba(35, 36, 38, .9),
            rgba(21, 21, 21, 0.65)),
    url("https://cdn.pixabay.com/photo/2017/08/03/13/01/people-2576110_960_720.jpg") top no-repeat fixed;
    background-size: cover;
    width: 100%;
}

.banner-content {
    height: 79vh;
}

/*.about-us-container {*/

/*}*/

/*.about-container {*/
/*    background: linear-gradient(*/
/*            rgba(21, 21, 21, .15),*/
/*            rgba(21, 21, 21, 0.55)),*/
/*    url("https://wallpaperset.com/w/full/0/2/e/543444.jpg") center center no-repeat;*/
/*    background-size: cover;*/
/*}*/

.package-card {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-shadow: 2px 1px black;
    text-align: center;
}

.package-description {
    opacity: 0;
    transition: 500ms;
}

.package-card:hover {
    cursor: pointer;
}

.package-card:hover + .package-description {
    opacity: 1;
    transition: 500ms;
}

.gallery-item {
    width: 600px;
    height: 700px;
}

@media (max-width: 575px) {
    .gallery-item {
        width: 320px;
        height: 500px;
    }
}

@media (max-width: 425px) {
    .gallery-item {
        width: 320px;
        height: 300px;
    }
}

.testimonials-container {
    background: linear-gradient(
            rgba(21, 21, 21, .95),
            rgba(21, 21, 21, 0.85)),
    url("https://cdn.hipwallpaper.com/i/78/39/QF1SJy.jpg") center center no-repeat fixed;
    background-size: cover;
    min-height: 80vh;
}

.review-container {
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
}

.map-container {
    background: linear-gradient(
            rgba(21, 21, 21, .55),
            rgba(21, 21, 21, 0.55)),
    url("https://typography.guru/uploads/monthly_2015_06/googlemaps.jpg.3b15374711e0c63314dc807a01409fa5.jpg") center center no-repeat;
    background-size: cover;
}

.booking-card {
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
}

.calendar-container {
    background: rgba(21, 21, 21, .95);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
    border-radius: 10px;
    padding: 10px;
}

.clicked-event {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
    border-radius: 10px;
    padding: 10px 10px 0 10px;
}

.image-container {
    position: relative;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
    border-radius: 10px;
}

.image-details {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .8);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}


.image-border:hover .image-details {
    visibility: visible;
    opacity: 1;
    transition: 500ms;
}

/******BOOTSTRAP OVERRIDES******/
.form-control {
    border-radius: unset !important;
    border: 2px solid #e6a87a !important;
}

.dropdown-item:hover {
    background: gray !important;
}

.modal-content {
    background-color: rgba(21, 21, 21, 1) !important;
    color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
}

.modal-header {
    border-bottom: unset !important;
}

.modal-backdrop.show {
    opacity: .8 !important;
}

.alert-custom {
    color: white;
    background-color: black;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .5);
}

/******SLICK CAROUSEL OVERRIDES******/
@media (max-width: 575px) {
    .slick-slide {
        margin: 0 -5px !important;
    }
}

/******DATE PICKER OVERRIDES******/
.fc .fc-col-header-cell-cushion, .fc-toolbar-title, .fc-daygrid-day-number {
    color: white;
    padding-top: 10px;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end {
    color: #e6a87a;
}


/****BACK TO TOP ARROW*****/

.scrollTop {
    position: fixed;
    width: 100%;
    bottom: 20px;
    right: 20px;
    height: 20px;
    justify-content: flex-end;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    font-size: 30px;
    opacity: 1;
}

.scrollTop:hover{
    opacity: 1;
    transition: opacity 0.4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

